################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BLEConsole/v15
/.vs/BLEConsole/v16
/.vs
/BLEConsole/obj
/BLEConsole/bin
/packages
/BLEConsole/BLEConsole.csproj.user

